* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.add-product {
    width: 50%;
    border: 1px solid #ddd;
    margin: auto;
    padding: 50px;
    box-shadow: 2px 2px 5px #ddd;
}

.add-product label,
input {
    width: 100%;
    display: block;
}

.add-product label {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.add-product input {
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-product button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #F7442E;
    color: #fff;
}

.add-product button:hover {
    opacity: 0.8;
}

.error {
    color: red;
    padding-top: 5px;
    display: block;
}


/* Product detail*/

.product-detail {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 600px;
    margin-top: 40px;
}

.product__detail-left {
    border-right: 1px solid #ddd;
    height: 600px;
}

.product__detail-right {
    margin-left: 10px;
    height: 600px;
}

.product__detail-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    width: 520px;
    margin: auto;
    box-shadow: 1px solid #ddd;
    border-radius: 3px;
}

.product__detail-item__name {
    color: #929292;
    height: 46px;
    font-size: 25px;
    font-weight: 400;
}

.product__detail-item__price {
    display: flex;
    width: 350px;
    justify-content: space-around;
    font-size: 16px;
}

.product__detail-item__price-old {
    text-decoration: line-through;
    color: #929292;
    margin-right: 10px;
}

.product__detail-item__price-current {
    font-size: 30px;
    color: #D0011B;
}

.product__detail-item__sale-off-percent {
    font-weight: 600;
    font-size: 12px;
    display: block;
    padding: 2px 4px;
    color: #ddd;
    background-color: #D0011B;
    margin-left: 15px;
}

.product__detail-item__action {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 16px;
}

.product__detail-item__gold {
    color: var(--primary-color)
}

.product__detail-item__origin {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 20px;
    color: #929292;
}

.product__detail-controls {
    padding-top: 50px;
}

.product__detail-btn-cart {
    color: #D0011B;
    background-color: #D0011B14;
    padding: 12px 20px;
    font-size: 14px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #D0011B;
    color: var(--primary-color)
}

.product__detail-btn-cart:hover {
    cursor: pointer;
    opacity: 0.9;
}

.product__detail-btn-checkout {
    background-color: #D0011B;
    padding: 12px 50px;
    font-size: 14px;
    outline: none;
    border: none;
    color: #ddd;
}

.product__detail-btn-checkout:hover {
    cursor: pointer;
    opacity: 0.9;
}